<div class="w-full h-screen bg-black overflow-hiddden">
    <header class="lg:px-16 px-4 flex flex-wrap items-center py-4 shadow-lg">
        <div class="flex-1 flex justify-between items-center">
            <img class="sm:w-[10rem] xs:w-[7rem] z-10" src="https://techakim.com/sam/tg/7268/li/imgs/samlogo2.png" alt="Logo" />
        </div>
        <label for="menu-toggle" class="pointer-cursor md:hidden block">
            <svg class="fill-current text-gray-200" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
            <title>menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
            </svg>
            </label>
        <input class="hidden" type="checkbox" id="menu-toggle" />
    </header>
        <div
            class="absolute hidden sm:block md:top-20 sm:top-[8%] xs:top-[10%] xxl:top-4 xxl:left-[30%] lg:left-[35%] md:right-[20%] sm:left-[18%] xs:left-[10%]">
            <img class="xxl:h-[880px] xl:h-[700px] md:h-[450px] sm:h-[480px]" src="https://techakim.com/sam/tg/7268/li/imgs/2.png" alt="Incognito Image" />
        </div>

        <div
            class="lg:px-16 xs:px-4 px-8 pb-4 h-full flex xs:flex-col sm:flex-row sm:items-center xs:mt-10 sm:mt-0 text-white">
            <!-- col -1  -->
            <div class="w-full flex flex-col z-10">
                <h4 class="text-lg font-semibold text-white xl:text-2xl">Hey There</h4>
                <h1 class="xl:text-8xl sm:text-6xl xs:text-3xl font-semibold font-serif mt-2">I'm
                    <span class="">Samuel</span>
                </h1>
                <h1 class="sm:text-6xl xs:text-3xl font-semibold font-serif">Abera</h1>
                <h4 class="text-rose-500 mt-4 lg:text-2xl xl:3xl">--FullStack Developer</h4>

                <p class="lg:w-[70%] xs:w-full text-white text-sm mt-4 xl:text-2xl">Experienced full-stack developer with 4+ years
                    of expertise in Laravel, NestJS, Nuxt.js, Next.js, Android, and some Flutter experience.</p>

                <div>
                    <button class="mt-6 px-6 py-1 bg-rose-500 text-lg text-white rounded-sm lg:text-2xl">Get In Touch</button>
                </div>
            </div>

            <!-- col-2 -->
            <div
                class="w-full flex sm:flex-col xs:justify-center xs:mt-4 sm:mt-0 sm:gap-8 xs:gap-2 xs:bg-gray-700/60 sm:bg-transparent p-4 rounded-lg z-10">
                <div class="flex flex-col sm:items-end xs:items-center">
                    <div class="inline-flex gap-1 items-center">
                        <h2 class="xl:text-8xl md:text-7xl sm:text-6xl xs:text-3xl font-semibold">5</h2>
                        <h2 class="text-rose-500 xl:text-8xl md:text-7xl sm:text-6xl xs:text-3xl font-extrabold">+</h2>
                    </div>
                    <h4 class="xs:text-sm sm:text-lg xl:text-2xl xs:text-center">Years of Expireance</h4>
                </div>
                <div class="flex flex-col sm:items-end xs:items-center">
                    <div class="inline-flex gap-1 items-center">
                        <h2 class="xl:text-8xl md:text-7xl sm:text-6xl xs:text-3xl font-semibold">35</h2>
                        <h2 class="text-rose-500 xl:text-8xl md:text-7xl sm:text-6xl xs:text-3xl font-extrabold">+</h2>
                    </div>
                    <h4 class="xs:text-sm sm:text-lg xl:text-2xl xs:text-center">Component Contribution</h4>
                </div>
                <div class="flex flex-col sm:items-end xs:items-center">
                    <div class="inline-flex gap-1 items-center">
                        <h2 class="xl:text-8xl md:text-7xl sm:text-6xl xs:text-3xl font-semibold">100K</h2>
                        <h2 class="text-rose-500 xl:text-8xl md:text-7xl sm:text-6xl xs:text-3xl font-extrabold">+</h2>
                    </div>
                    <h4 class="xs:text-sm sm:text-lg xl:text-2xl xs:text-center">User's Got Help</h4>
                </div>
            </div>
        </div>

</div>

<section
  class="ezy__blog5 light py-14 md:py-24 text-stone-800 bg-white dark:bg-[#0b1727] dark:text-white overflow-hidden"
>
  <div class="container px-20 md:px-8 xl:px-28">
    <div class="grid grid-cols-12 justify-center">
      <div
        class="col-span-12 lg:col-span-8 lg:col-start-3 lg:col-end-11 text-center"
      >
        <h2 class="text-[32px] lg:text-[45px] leading-none font-bold mb-4">
          Pros & Cons of Being a Model.
        </h2>
        <p class="text-lg font-medium opacity-80 lg:px-12 mb-9">
          It’s no secret that the digital industry is booming. From exciting
          startups to global brands, companies are reaching out to digital
          agencies.
        </p>
        <a
          href=""
          class="bg-blue-600 hover:bg-opacity-90 text-white font-bold border border-blue-600 py-3 px-7 rounded transition"
          >All Posts</a
        >
      </div>
    </div>

    <div class="grid grid-cols-12 items-center mt-12 gap-6">
      <div class="col-span-12">
        <article>
          <div class="grid grid-cols-12 items-center gap-6">
            <div class="col-span-12 lg:col-span-7 lg:order-2">
              <img
                src="https://cdn.easyfrontend.com/pictures/blog/blog_7.jpg"
                alt=""
                class="max-w-full h-auto rounded"
              />
            </div>
            <div class="col-span-12 lg:col-span-5 lg:order-1">
              <div class="mt-6 lg:mt-0 lg:pl-6">
                <h4
                  class="font-medium text-2xl md:text-[40px] md:leading-[50px] mb-2"
                >
                  Tellus in metus vulp utate eu scele risque scele viverra
                  mauris in al?
                </h4>
                <p class="md:text-lg opacity-60 mt-3 mb-6">
                  This is a factor in the economy of a nation, and the
                  administration takes the major choices.This is a factor in
                  the economy of a nation, and the administration takes the
                  major choices.Banking crises have developed many times
                  throughout history when one or more risks have emerged for
                  a banking sector as a whole.
                </p>
                <div class="text-base leading-5 flex items-center">
                  <div class="mr-2">
                    <img
                      src="https://cdn.easyfrontend.com/pictures/users/user18.jpg"
                      alt=""
                      class="h-auto max-w-full rounded-full border border-border"
                      width="47"
                    />
                  </div>
                  <div class="opacity-80">
                    <p>By<b> Alan Bell</b></p>
                    <p class="text-sm opacity-75">August 10th, 2020</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="col-span-12 md:col-span-6 lg:col-span-4 h-full mt-6">
        <article
          class="flex flex-col shadow-lg dark:bg-[#1E2735] dark:shadow-none rounded-lg overflow-hidden pb-2 h-full"
        >
          <img
            src="https://cdn.easyfrontend.com/pictures/blog/blog_2.jpg"
            alt=""
            class="h-auto w-full"
          />
          <div class="flex flex-col justify-between grow p-3 pb-8 lg:p-6">
            <div>
              <h4 class="font-medium text-2xl mb-1">
                Long lasting fall scent for women sale offer
              </h4>
              <p class="opacity-80 mb-2">
                <span class="mr-2"
                  >By
                  <a href="" class="text-blue-600">Mahws Georgia</a></span
                >
                <span
                  ><i class="far fa-clock ml-1"></i>
                  <span>13 Jan, 2022</span></span
                >
              </p>
              <p class="opacity-60 mt-3 mb-6">
                Assumenda non repellendus distinctio nihil dicta sapiente,
                quibusdam maiores.
              </p>
            </div>
            <div>
              <a
                href=""
                class="bg-transparent hover:bg-blue-600 border border-blue-600 hover:text-white py-2 px-5 rounded transition"
                >Read More</a
              >
            </div>
          </div>
        </article>
      </div>
      <div class="col-span-12 md:col-span-6 lg:col-span-4 h-full mt-6">
        <article
          class="flex flex-col shadow-lg dark:bg-[#1E2735] dark:shadow-none rounded-lg overflow-hidden pb-2 h-full"
        >
          <img
            src="https://cdn.easyfrontend.com/pictures/blog/blog_3.jpg"
            alt=""
            class="h-auto w-full"
          />
          <div class="flex flex-col justify-between grow p-3 pb-8 lg:p-6">
            <div>
              <h4 class="font-medium text-2xl mb-1">
                Fashion Essentials All Men Should Know
              </h4>
              <p class="opacity-80 mb-2">
                <span class="mr-2"
                  >By <a href="" class="text-blue-600">Mary Gold</a></span
                >
                <span
                  ><i class="far fa-clock ml-1"></i>
                  <span>27 Oct, 2022</span></span
                >
              </p>
              <p class="opacity-60 mt-3 mb-6">
                Sed ut in perspiciatis unde omnis iste natus error sit tatem
                doloremque laudantium.
              </p>
            </div>
            <div>
              <a
                href=""
                class="bg-transparent hover:bg-blue-600 border border-blue-600 hover:text-white py-2 px-5 rounded transition"
                >Read More</a
              >
            </div>
          </div>
        </article>
      </div>
      <div class="col-span-12 md:col-span-6 lg:col-span-4 h-full mt-6">
        <article
          class="flex flex-col shadow-lg dark:bg-[#1E2735] dark:shadow-none rounded-lg overflow-hidden pb-2 h-full"
        >
          <img
            src="https://cdn.easyfrontend.com/pictures/blog/blog_9.jpg"
            alt=""
            class="h-auto w-full"
          />
          <div class="flex flex-col justify-between grow p-3 pb-8 lg:p-6">
            <div>
              <h4 class="font-medium text-2xl mb-1">
                Dolor sit amet, adiplscing eliyt sed
              </h4>
              <p class="opacity-80 mb-2">
                <span class="mr-2"
                  >By <a href="" class="text-blue-600">Hardik Finn</a></span
                >
                <span
                  ><i class="far fa-clock ml-1"></i>
                  <span>11 Mar, 2022</span></span
                >
              </p>
              <p class="opacity-60 mt-3 mb-6">
                Viverra tellus in hac habitasse platea dictumst.
                Sollicitudin tempor id eu nisl.
              </p>
            </div>
            <div>
              <a
                href=""
                class="bg-transparent hover:bg-blue-600 border border-blue-600 hover:text-white py-2 px-5 rounded transition"
                >Read More</a
              >
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
